.am-list {
  margin-top: 8px;
  .am-input-label,
  .am-list-content,
  .am-list-extra {
    font-size: 14px !important;
    white-space: normal !important;
  }

  input::-webkit-input-placeholder {
    font-size: 14px;
  }
  input:-moz-placeholder {
    font-size: 14px;
  }
  input::moz-placeholder {
    font-size: 14px;
  }
  input:-ms-input-placeholder {
    font-size: 14px;
  }
}

.page__title {
  padding: 40px 10px 20px;
  color: #3d3b4f;

  h2 {
    text-align: center;
  }
}

.page__desc {
  margin: 40px auto;
  color: #80848f;
  text-align: justify;
  text-indent: 2em;
  line-height: 1.36;
  font-size: 14px;

  p {
    margin: 8px;
  }
}

.pre-fields-form {
  margin: 20px 0;
  text-align: left;
}

.loading-data {
  padding-top: 100px;
  text-align: center;
}

.submit-btn {
  margin-top: 40px;
}
